server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    compatibility-verifier:
      enabled: false
    gateway:
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins:
              - "http://localhost:4200"
              - "https://localhost:4443"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            exposedHeaders: "*"
            maxAge: 3600
      routes:
        - id: user-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/users,/api/users/**
          filters:
            - RewritePath=/api/users(?<segment>.*), /${segment}
        - id: product-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/products,/api/products/**
          filters:
            - RewritePath=/api/products(?<segment>.*), /${segment}
        - id: auth-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/auth,/api/auth/**
          filters:
            - RewritePath=/api/auth(?<segment>.*), /auth${segment}
        - id: media-service
          uri: http://localhost:8083
          predicates:
            - Path=/api/media,/api/media/**
        - id: profile-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/profile/**
          filters:
            - RewritePath=/api/profile/(?<segment>.*), /profile/${segment}
